@charset 'utf-8';

// Foundation
@import 'foundation';
@import 'foundation/settings';
@include foundation-everything();
$global-flexbox: true;
@include foundation-flex-grid;
@include foundation-flex-classes;

.starter-template {
	padding: rem-calc(40) rem-calc(15);
	text-align: center;
}