<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foundation 6 Starter Template</title>
		<meta name="description" content="Here Description">
		<link href="assets/img/favicon.png" type="image/png" rel="icon">
    <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>

		<div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Site Title</li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>

		{{> body}}

		<footer>
			<hr>
			<div class="container">
				<p class="text-center">By <a href="https://twitter.com/huleos7">@huleos7</a> in 2016 with help <a href="http://foundation.zurb.com/">Zurb Foundation</a> and <a href="http://gulpjs.com/">GulpJs</a> <br> All my work is <a href="http://www.opensource.org/licenses/mit-license.html">MIT licensed, Open and Free</a> ;)</p>
			</div>
		</footer>
    <script src="assets/js/main.js"></script>
  </body>
</html>